:root {
	--c1: #f3eeea;
	--c2: #776b5d;
	--c3: #6b240c;
}
* {
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	justify-content: center;
	margin: 26px;
	background-color: var(--c1);
	overflow-y: scroll;
	font-family: "Inter";
}
div {
	position: relative;
}
h1 {
	margin-bottom: 20px;
	color: var(--c2);
	font-weight: 500;
	user-select: none;
	text-align: center;
}
span {
	position: absolute;
	left: 0;
	transition: all 0.8s;
	margin-top: 6px;
	margin-left: 6px;
	color: var(--c2);
	font-weight: 700;
	font-size: x-small;
	user-select: none;
}
form {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
input {
	border-width: 2px;
	border-style: solid;
	border-color: var(--c2);
	border-radius: 2px;
	background-color: transparent;
	padding-left: 6px;
	height: 25px;
	color: var(--c2);
}
input:focus {
	transition: all 0.5s;
	outline: none;
	border-color: var(--c3);
}
input:focus ~ span,
input:valid ~ span {
	transform: translateX(110px);
	transition: all 0.4s;
}
button {
	transition: all 0.2s;
	cursor: pointer;
	border-style: none;
	border-radius: 2px;
	background-color: var(--c2);
	height: 24px;
	color: var(--c1);
}
button:hover {
	background-color: var(--c3);
	color: var(--c1);
}
ul {
	display: flex;
	flex-direction: column;
	margin-top: 14px;
	margin-left: 32px;
	color: var(--c2);
	list-style: decimal;
	text-align: right;
}
::marker {
	color: var(--c3);
}
